*{
    margin:0px;
    padding:0px;
    border: none;
}

body{
    background-image: url(/static/img/fundo.jpg);
    font-family: Arial, Helvetica, sans-serif;
    overflow:  hidden;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.input-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.1rem;

}
.input-box i{
    font-size: 25px;
    cursor: pointer;
    position: relative;
    right: 30px;
    color: #000;
}
.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #000000;
}

.header{
    background: #fa0101;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.oi{
    width: 300px;
    height: 200px;

}
.sla{
    font-size:25px;
    color: #ffffff;
    align-self: center;
   

    
}


.be{
height: 20px;
width: 190px;
margin-left: 260px;
}


.conta{
    margin-top: 20px;
    margin-left: 252px;
}
.conta a{
    color: #000000;
}

.area-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #cb3f3faa;
    padding: 10px;
    width: 50%;
    margin-top: 50px;
    border: 1px solid #cb3f3f;
    border-radius: 20px;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.area-login2{
    display: flex;
    flex-direction: row;
}

.Login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
   
}

.Login div{
    width: 100%;
    display: flex;
    justify-content: center;
}



.Login form{
    width: 80%;
    display: flex;
    flex-direction: column;
    

}


.Login img{
    width: 65px;
    height: auto;

}
.imput::placeholder{
    color: #ffffff;
    font-size: 14px;
   
    
}

#logo{
    margin: 25px 0px 0px 0px;
}
form [ type="submit"]{
    display: block;
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

}
form [ value="entrar"]{
   color: #ffffff;

}

p{
    color: #CBD0f7;
}

a{
    color: #5568FE;
    text-decoration: none;    
}

@media(max-width:700px)
{
    .body{
        flex-direction: column;
    }
}

#bnt-cadastro {
    text-decoration: none;
    color: white;
    align-self: center;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}