{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/account.css')}}">
{% endblock %}

{% block title %}
<title>Registro de Desperdício | Projeto Alimentação Escolar SESI</title>
{% endblock %}

{% block main %}
<main class="main">
    
        <div class="seila0">
            <div class="seila">
                <div class="campos">
                    
                    <p>Nome Completo:</p>
                    <input id="input-name" type="text"disabled autofocus>
                </div>
                <div class="campos">
                    <p>Id do Usuário</p>
                    <input id="input-id" type="text"placeholder="CPF" disabled  autofocus>
                </div>
                <div class="campos">
                    <p>Código</p>
                    <input id="input-codigo" type="text"placeholder="1435" disabled autofocus>
                </div>
                <div class="campos">
                    <p>Celular</p>
                    <input id="input-telefone" type="tel"placeholder="(19)995847495" disabled autofocus>
                </div>
                
            </div>

            <div class="seila">

                <div class="campos">
                    <p>CPF</p>
                    <input id="input-cpf" type="text"placeholder="Serie" disabled  autofocus>
                </div>

                <div class="campos">
                    <p>E-mail sesi</p>
                    <input id="input-email" type="email"placeholder="ester.21@portalsesisp" disabled  autofocus>
                </div>
            </div>
            
            
            <div class="seila">
                <div class="campos">
                    <p class="altersen">Alterar senha</p>
                    <p>Senha atual</p>
                    <input id="input-senha" type="password"placeholder="" autofocus>
                </div>
                <div class="campos">
                    <p>Nova senha</p>
                    <input id="input-senha2" type="password"placeholder="" autofocus>
                    
                </div>
                <div class="campos1">
                    <input id="input-telefone" class="oii" type="submit" value="Alterar" autofocus>
                </div>
        </div>

    </div>
</main>

{% endblock %}

{% block footer %}

{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/account.js')}}"></script>
{% endblock %}