{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/account.css')}}">
{% endblock %}

{% block title %}
<title>Registro de Desperdício | Projeto Alimentação Escolar SESI</title>
{% endblock %}

{% block main %}
<main class="main">
    <div class="grafico">
        <img class="imagens" src="{{url_for('static', filename='img/perfil.png')}}">
        <div class="icons">
            <button class="button" onclick="adicionaTemaClaro()">
                <i class="fa-solid fa-sun"></i>
            </button>
            <button class="button" onclick="adicionaTemaEscuro()">
                <i class="fa-solid fa-moon"></i>
            </button>
        </div>
        
        <div class="tudo">
            <div class="lll">
                <p class="dados">Dados do Usuário</p>
            </div>
        </div>
        <div class="seila0">
            <div class="seila">
                <div class="campos">
                    <p>Nome:</p>
                    <input type="text" name="Nome" placeholder="Ester Silva" disabled autofocus>
                </div>
                <div class="campos">
                    <p>Login:</p>
                    <input type="text" name="Nome" placeholder="CPF" disabled  autofocus>
                </div>
                <div class="campos">
                    <p>Série:</p>
                    <input type="text" name="Nome" placeholder="Serie" disabled  autofocus>
                </div>
            </div>

            <div class="seila">
                <div class="campos">
                    <p>E-mail sesi</p>
                    <input type="email" name="Nome" placeholder="ester.21@portalsesisp" disabled  autofocus>
                </div>
                <div class="campos">
                    <p>RM</p>
                    <input type="text" name="Nome" placeholder="1435" disabled autofocus>
                </div>
                <button class="editar"> <p class="fonteditar">Editar</p></button>

                
            </div>
            
            
            <div class="seila">
                <div class="campos">
                    <p class="altersen">Alterar senha</p>
                    <p>Senha atual</p>
                    <input type="password" name="Nome" placeholder="" autofocus>
                </div>
                <div class="campos">
                    <p>Nova senha</p>
                    <input type="password" name="Nome" placeholder="" autofocus>
                    
                </div>
                <div class="campos1">
                    <input class="oii" type="submit" name="Nome"  value="teste" autofocus >
                </div>
        </div>

    </div>
</main>

{% endblock %}

{% block footer %}

{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/account.js')}}"></script>
{% endblock %}