{% extends 'baseNutricionista.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/atualizacaoCardapio.css')}}">
{% endblock %}

{% block title %}
<title>Atualizar Cardápio | Projeto Alimentação Escolar SESI</title>
{% endblock %}

{% block main %}
<main>
    <div class="titulo">
        <div class="ig">
            <a href="#"><img class="imag" src="{{url_for('static', filename='img/cardapio/ana.jpg')}}" id="cinza"></img></a>
        </div>
        <div class="sla">
            <h1 class="text">Atualização do cardápio</h1>
            <h3>Atualizar Imagem Cardápio</h3>
            <input type="file" id="imgChooser" class="inputAtualizacaoImg">
            <input  class="datas" type="date" name="date1" id="date1">
            <input class="datas1" type="date" name="date2" id="date2">
            <button class="salvar" id="confirmacaoAtualizacaoCalendario" onclick="confirmacaoAtualizacaoCalendario()">Confirmar</button>
        </div>
    </div>
    
    <div class="tudo">
    
        <div class="forms">

            <h1>Bloqueio das Refeições por Eventos Escolares ou Atividades extracurriculares</h1>

            <img src="{{ url_for('get_image', id=2) }}" alt="Imagem do Cardápio">
            
            <div class="tudo">
            <h3>Bloqueio para todas as salas</h3>
        
                    <div class="campoSelecao">

                        <label>Habilitar Refeições:</label>
                        
                        <div class="campo0">
                            <div class="campo">
                                <input type="checkbox" checked name="refeicao" id="manha">
                                <label for="manha">Café da Manha</label>
                            </div>
                            <div class="campo">
                                <input type="checkbox" checked name="refeicao" id="almoco">
                                <label for="almoco">Almoço</label>
                            </div>
                            <div class="campo">
                                <input type="checkbox" checked name="refeicao" id="tarde">
                                <label for="tarde">Café da Tarde</label>
                            </div>
                        </div>

                        <label>Dia:</label>
                        <input type="date" name="data" id="dateT">
                    </div>

                    <div class="divButton">
                        <button class="salvar" id="confirmacaoDasAtividadesEventos">Confirmar</button>
                    </div>
                </div>



                    <div class="escrita">
                        <p><label class="campo"  for="informacoes">Campo para a notificação:</label></p>
                        <div class="englobar">
                            <textarea id="informacoes" name="w3review" rows="4" cols="50" placeholder="Digite a mensagem aqui:"></textarea>
                        <br>
                            <div class=" botao">
                                <input id="btn-enviar-notificacao" class="salvar" type="submit" value="Submit">
                            </div>
                        </div>
                    </div>
 
</main>
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/atualizacaoCardapio.js')}}"></script>
{% endblock %}