{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home2.css')}}">
{% endblock %}

{% block title %}
<title>Home | Projeto Alimentação Escolar SESI</title>
{% endblock %}

{% block main %}
<main>
    <div class="notificacaoMariane">
        <p id="campo-notificacao"><strong>Olá usuario!</strong> You should check in on some of those fields below.</p>
    </div>
    <div class="menuCardapio">
        <h1>Menu:</h1>
        <div class="menuCardapio2">
            <section>
                <img src="{{ url_for('get_image', id=1) }}" alt="Imagem do Cardápio" class="imagem-cardapio">
            </section>
            
            <section>
                <div class="formAlimentacao">
                    <h3>Clique em cima da refeição que não irá participar.</h3>
                    <div class="divLegendaMarcacao">
                        <ul class="legendaMarcacao">
                            <li><div><a><div class="cubico" id="cubicoLegendaMarcado"></div>Vou Comer</a></div></li>
                            <li><div><a><div class="cubico" id="cubicoLegendaDesmarcado"></div>Não Vou Comer</a></div></li>
                            <li><div><a><div class="cubico" id="cubicoLegendaBloqueado"></div>Bloqueado</a></div></li>
                        </ul>
                    </div>
        
                    <div class="cardapio">
                        <div class="diaSemana">
                            <h2>Segunda</h2>
                            <div class="cafeManha" name="segunda" id="segunda-manha">
                                
                            </div>
                            <div class="almoco" name="segunda" id="segunda-almoco">
                                
                            </div>
                            <div class="cafeTarde" name="segunda" id="segunda-tarde">
                                
                            </div>
                            <div class="data">
                                <p>02/09/2024</p>
                            </div>
                        </div>
                    
                        <div class="diaSemana">
                            <h2>Terça</h2>
                            <div class="cafeManha" name="terca" id="terca-manha">
                                
                            </div>
                            <div class="almoco" name="terca" id="terca-almoco">
                                
                            </div>
                            <div class="cafeTarde" name="terca" id="terca-tarde">
                                
                            </div>
                            <div class="data">
                                <p>02/09/2024</p>
                            </div>
                        </div>
                    
                        <div class="diaSemana">
                            <h2>Quarta</h2>
                            <div class="cafeManha" name="quarta" id="quarta-manha">
                                
                            </div>
                            <div class="almoco" name="quarta" id="quarta-almoco">
                                
                            </div>
                            <div class="cafeTarde" name="quarta" id="quarta-tarde">
                                
                            </div>
                            <div class="data">
                                <p>02/09/2024</p>
                            </div>
                        </div>
                    
                        <div class="diaSemana">
                            <h2>Quinta</h2>
                            <div class="cafeManha" name="quinta" id="quinta-manha">
                                
                            </div>
                            <div class="almoco" name="quinta" id="quinta-almoco">
                                
                            </div>
                            <div class="cafeTarde" name="quinta" id="quinta-tarde">
                                
                            </div>
                            <div class="data">
                                <p>02/09/2024</p>
                            </div>
                        </div>
                    
                        <div class="diaSemana">
                            <h2>Sexta</h2>
                            <div class="cafeManha" name="sexta" id="sexta-manha">
                                
                            </div>
                            <div class="almoco" name="sexta" id="sexta-almoco">
                                
                            </div>
                            <div class="cafeTarde" name="sexta" id="sexta-tarde">
                                
                            </div>
                            <div class="data">
                                <p>02/09/2024</p>
                            </div>
                        </div>
                    </div>
                    <button class="salvar" id="abrirConfirmacaoRefeicao">Salvar</button>
                </div>
        
            </section>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
<script src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock %}